@model mtomalaz.DataBAse.NOM_EMPLEADOS

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>NOM_EMPLEADOS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nom_Epd_Documento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom_Epd_Documento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nom_Epd_Nombre1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom_Epd_Nombre1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nom_Epd_Nombre2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom_Epd_Nombre2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nom_Epd_Apellido1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom_Epd_Apellido1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nom_Epd_Apellido2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom_Epd_Apellido2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nom_Epd_Mail_Personal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom_Epd_Mail_Personal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nom_Epd_Mail_Empresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom_Epd_Mail_Empresa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nom_Epd_Movil)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom_Epd_Movil)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nom_Epd_FecNac)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom_Epd_FecNac)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nom_Epd_Foto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom_Epd_Foto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nom_Epd_Discap_Porc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom_Epd_Discap_Porc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nom_Epd_Discap_Grad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom_Epd_Discap_Grad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nom_Epd_Discap_Carnet_Num)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom_Epd_Discap_Carnet_Num)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nom_Epd_Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom_Epd_Direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nom_Epd_Direccion_Referen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom_Epd_Direccion_Referen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nom_Epd_Procedencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom_Epd_Procedencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nom_Epd_Banco_Cuenta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom_Epd_Banco_Cuenta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nom_Epd_Contac_Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom_Epd_Contac_Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nom_Epd_Contac_Apellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom_Epd_Contac_Apellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nom_Epd_Contac_Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom_Epd_Contac_Telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nom_Epd_Contac_Documento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom_Epd_Contac_Documento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nom_Epd_Contac_Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom_Epd_Contac_Direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nom_Epd_Codigo_Reloj0)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom_Epd_Codigo_Reloj0)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nom_Epd_Codigo_Reloj1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom_Epd_Codigo_Reloj1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nom_Epd_Codigo_Reloj2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom_Epd_Codigo_Reloj2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nom_Epd_Codigo_Reloj3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom_Epd_Codigo_Reloj3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nom_Epd_Codigo_Reloj4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom_Epd_Codigo_Reloj4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nom_Epd_Contrato)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom_Epd_Contrato)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Aud_Fecha_Ingreso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aud_Fecha_Ingreso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Aud_PC_Ingreso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aud_PC_Ingreso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Aud_Fecha_Modifica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aud_Fecha_Modifica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Aud_PC_Modifica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aud_PC_Modifica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BCO_BANCOS.Bco_Ban_Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BCO_BANCOS.Bco_Ban_Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BCO_CUENTA_TIPO.Bco_CtaTipo_Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BCO_CUENTA_TIPO.Bco_CtaTipo_Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GEN_PRM_DISCAPCIDA_TIPO.Gen_DisT_Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GEN_PRM_DISCAPCIDA_TIPO.Gen_DisT_Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GEN_PRM_EDUCACION_NIVEL.Gen_PrmEducN_Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GEN_PRM_EDUCACION_NIVEL.Gen_PrmEducN_Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GEN_PRM_ESTADO_CIVL.Gen_PrmCivilE_Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GEN_PRM_ESTADO_CIVL.Gen_PrmCivilE_Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GEN_PRM_FORMA_PAGO.Gen_PrmForPag_Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GEN_PRM_FORMA_PAGO.Gen_PrmForPag_Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GEN_PRM_GEOA_PAISES.Gen_PrmPai_Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GEN_PRM_GEOA_PAISES.Gen_PrmPai_Codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GEN_PRM_GEOE_PROVINCIAS.Gen_PrmPro_Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GEN_PRM_GEOE_PROVINCIAS.Gen_PrmPro_Codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GEN_PRM_GEOI_CIUDAD.Gen_PrmCiu_Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GEN_PRM_GEOI_CIUDAD.Gen_PrmCiu_Codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GEN_PRM_GEOO_PARROQUIAS.Gen_PrmPrq_Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GEN_PRM_GEOO_PARROQUIAS.Gen_PrmPrq_Codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GEN_PRM_OPERADORA_MOVIL.Gen_PrmOperM_Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GEN_PRM_OPERADORA_MOVIL.Gen_PrmOperM_Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GEN_PRM_PARENTESCO.Gen_PrmParenT_Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GEN_PRM_PARENTESCO.Gen_PrmParenT_Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GEN_PRM_SEXO.Gen_PrmSex_Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GEN_PRM_SEXO.Gen_PrmSex_Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GEN_TIPO_IDENTIFICACION.Gen_TipIden_Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GEN_TIPO_IDENTIFICACION.Gen_TipIden_Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GEN_TIPO_IDENTIFICACION1.Gen_TipIden_Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GEN_TIPO_IDENTIFICACION1.Gen_TipIden_Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NOM_EMPLEADO_TIPO.Nom_EpdTip_Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOM_EMPLEADO_TIPO.Nom_EpdTip_Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SEG_EMPRESA.EMP_Representante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SEG_EMPRESA.EMP_Representante)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SEG_ESTADO_AI.Gen_PrmSn_Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SEG_ESTADO_AI.Gen_PrmSn_Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SEG_USUARIO.USU_Login)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SEG_USUARIO.USU_Login)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SEG_USUARIO1.USU_Login)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SEG_USUARIO1.USU_Login)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SEG_ESTADO_AI1.Gen_PrmSn_Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SEG_ESTADO_AI1.Gen_PrmSn_Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SEG_ESTADO_AI2.Gen_PrmSn_Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SEG_ESTADO_AI2.Gen_PrmSn_Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SEG_ESTADO_AI3.Gen_PrmSn_Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SEG_ESTADO_AI3.Gen_PrmSn_Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SEG_USUARIO2.USU_Login)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SEG_USUARIO2.USU_Login)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Nom_Epd_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
