@model IEnumerable<mtomalaz.DataBAse.INV_DET_KARDEX>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.KAR_Id_Kardex)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KAR_Secuencial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KAR_Ingreso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KAR_Egreso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ART_Id_Articulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Aud_Fecha_Ingreso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Aud_PC_Ingreso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Aud_Fecha_Modifica)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Aud_PC_Modifica)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SEG_EMPRESA.EMP_Representante)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SEG_ESTADO_AI.Gen_PrmSn_Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SEG_USUARIO.USU_Login)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SEG_USUARIO1.USU_Login)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.KAR_Id_Kardex)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KAR_Secuencial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KAR_Ingreso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KAR_Egreso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ART_Id_Articulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Aud_Fecha_Ingreso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Aud_PC_Ingreso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Aud_Fecha_Modifica)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Aud_PC_Modifica)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SEG_EMPRESA.EMP_Representante)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SEG_ESTADO_AI.Gen_PrmSn_Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SEG_USUARIO.USU_Login)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SEG_USUARIO1.USU_Login)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.KAR_Id_Kardex_Det }) |
            @Html.ActionLink("Details", "Details", new { id=item.KAR_Id_Kardex_Det }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.KAR_Id_Kardex_Det })
        </td>
    </tr>
}

</table>
