@model IEnumerable<mtomalaz.DataBAse.CON_DIARIO_CAB>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Con_DiarioCab_Numero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Con_DiarioCab_Fecha_Contable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Con_DiarioCab_Diario_Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Con_DiarioCab_Diario_Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Con_DiarioCab_Total_Debe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Con_DiarioCab_Total_Haber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Con_DiarioCab_Digitado_Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Con_DiarioCab_Digitado_Usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Con_DiarioCab_Procesado_Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Con_DiarioCab_Procesado_Usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Con_DiarioCab_Reg_T_P)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Aud_Fecha_Ingreso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Aud_PC_Ingreso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Aud_Fecha_Modifica)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Aud_PC_Modifica)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GEN_ANIO.Gen_PrmAnio_Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SEG_EMPRESA.EMP_Representante)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SEG_ESTADO_AI.Gen_PrmSn_Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CON_ESTADO_CONTAB.Con_EstCont_Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SEG_USUARIO.USU_Login)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GEN_MES.Gen_PrmMes_Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SEG_USUARIO1.USU_Login)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CON_DIARIO_TIPO.Con_CompTip_Nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Con_DiarioCab_Numero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Con_DiarioCab_Fecha_Contable)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Con_DiarioCab_Diario_Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Con_DiarioCab_Diario_Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Con_DiarioCab_Total_Debe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Con_DiarioCab_Total_Haber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Con_DiarioCab_Digitado_Fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Con_DiarioCab_Digitado_Usuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Con_DiarioCab_Procesado_Fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Con_DiarioCab_Procesado_Usuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Con_DiarioCab_Reg_T_P)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Aud_Fecha_Ingreso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Aud_PC_Ingreso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Aud_Fecha_Modifica)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Aud_PC_Modifica)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GEN_ANIO.Gen_PrmAnio_Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SEG_EMPRESA.EMP_Representante)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SEG_ESTADO_AI.Gen_PrmSn_Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CON_ESTADO_CONTAB.Con_EstCont_Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SEG_USUARIO.USU_Login)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GEN_MES.Gen_PrmMes_Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SEG_USUARIO1.USU_Login)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CON_DIARIO_TIPO.Con_CompTip_Nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Con_DiarioCab_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Con_DiarioCab_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Con_DiarioCab_Id })
        </td>
    </tr>
}

</table>
