@model mtomalaz.DataBAse.CON_CUENTA_PLAN

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CON_CUENTA_PLAN</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Con_PlaCta_Cuenta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Con_PlaCta_Cuenta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Con_PlaCta_Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Con_PlaCta_Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Aud_Fecha_Ingreso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aud_Fecha_Ingreso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Aud_PC_Ingreso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aud_PC_Ingreso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Aud_Fecha_Modifica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aud_Fecha_Modifica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Aud_PC_Modifica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aud_PC_Modifica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CON_CUENTA_CLASE.Con_ClasCta_Grupo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CON_CUENTA_CLASE.Con_ClasCta_Grupo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CON_CUENTA_NIVEL.Con_NivCta_Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CON_CUENTA_NIVEL.Con_NivCta_Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GEN_ANIO.Gen_PrmAnio_Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GEN_ANIO.Gen_PrmAnio_Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CON_CUENTA_TIPO.Con_TipCta_Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CON_CUENTA_TIPO.Con_TipCta_Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SEG_EMPRESA.EMP_Representante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SEG_EMPRESA.EMP_Representante)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SEG_ESTADO_AI.Gen_PrmSn_Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SEG_ESTADO_AI.Gen_PrmSn_Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SEG_USUARIO.USU_Login)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SEG_USUARIO.USU_Login)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SEG_USUARIO1.USU_Login)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SEG_USUARIO1.USU_Login)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SEG_ESTADO_AI1.Gen_PrmSn_Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SEG_ESTADO_AI1.Gen_PrmSn_Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SEG_ESTADO_AI2.Gen_PrmSn_Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SEG_ESTADO_AI2.Gen_PrmSn_Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SEG_ESTADO_AI3.Gen_PrmSn_Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SEG_ESTADO_AI3.Gen_PrmSn_Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SEG_ESTADO_AI4.Gen_PrmSn_Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SEG_ESTADO_AI4.Gen_PrmSn_Descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Con_PlaCta_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
