@model IEnumerable<mtomalaz.DataBAse.COM_CAB_DEV>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CAB_Id_Orden)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CAB_Id_PPersona)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CAB_Id_EPersona)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CAB_FechaCompra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CAB_FechaDevolucion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CAB_Observacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CAB_Total)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Aud_Fecha_Ingreso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Aud_PC_Ingreso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Aud_Fecha_Modifica)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Aud_PC_Modifica)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SEG_EMPRESA.EMP_Representante)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SEG_ESTADO_AI.Gen_PrmSn_Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SEG_USUARIO.USU_Login)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SEG_USUARIO1.USU_Login)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CAB_Id_Orden)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CAB_Id_PPersona)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CAB_Id_EPersona)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CAB_FechaCompra)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CAB_FechaDevolucion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CAB_Observacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CAB_Total)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Aud_Fecha_Ingreso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Aud_PC_Ingreso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Aud_Fecha_Modifica)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Aud_PC_Modifica)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SEG_EMPRESA.EMP_Representante)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SEG_ESTADO_AI.Gen_PrmSn_Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SEG_USUARIO.USU_Login)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SEG_USUARIO1.USU_Login)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CAB_Devolucion_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.CAB_Devolucion_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CAB_Devolucion_Id })
        </td>
    </tr>
}

</table>
