@model IEnumerable<mtomalaz.DataBAse.INV_ARTICULOS>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ART_Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ART_Stock)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ART_Precio_Bruto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ART_Fec_Abast)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MAR_Id_Marca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CAT_Id_Categoria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Aud_Fecha_Ingreso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Aud_PC_Ingreso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Aud_Fecha_Modifica)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Aud_PC_Modifica)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SEG_EMPRESA.EMP_Representante)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SEG_ESTADO_AI.Gen_PrmSn_Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SEG_USUARIO.USU_Login)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SEG_USUARIO1.USU_Login)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ART_Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ART_Stock)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ART_Precio_Bruto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ART_Fec_Abast)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MAR_Id_Marca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CAT_Id_Categoria)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Aud_Fecha_Ingreso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Aud_PC_Ingreso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Aud_Fecha_Modifica)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Aud_PC_Modifica)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SEG_EMPRESA.EMP_Representante)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SEG_ESTADO_AI.Gen_PrmSn_Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SEG_USUARIO.USU_Login)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SEG_USUARIO1.USU_Login)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ART_Id_Articulos }) |
            @Html.ActionLink("Details", "Details", new { id=item.ART_Id_Articulos }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ART_Id_Articulos })
        </td>
    </tr>
}

</table>
