@model mtomalaz.DataBAse.SEG_DEPARTAMENTO

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>SEG_DEPARTAMENTO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DEP_Id_Departamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DEP_Id_Departamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DEP_Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DEP_Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DEP_Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DEP_Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Aud_Fecha_Ingreso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aud_Fecha_Ingreso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Aud_PC_Ingreso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aud_PC_Ingreso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Aud_Fecha_Modifica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aud_Fecha_Modifica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Aud_PC_Modifica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aud_PC_Modifica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SEG_EMPRESA.EMP_Representante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SEG_EMPRESA.EMP_Representante)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SEG_ESTADO_AI.Gen_PrmSn_Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SEG_ESTADO_AI.Gen_PrmSn_Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SEG_USUARIO.USU_Login)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SEG_USUARIO.USU_Login)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SEG_USUARIO1.USU_Login)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SEG_USUARIO1.USU_Login)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SEG_DEPARTAMENTO_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
