@model IEnumerable<mtomalaz.DataBAse.COM_CAB_ORDEN>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SOL_Id_Solicitud)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ENT_Id_PEntidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ENT_Id_Entidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CAB_FechaPedido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CAB_FechaEmitida)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CAB_Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CAB_Hora)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CAB_Observacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CAB_Descuento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CAB_Iva)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CAB_Total)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CAB_Ajuste)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CAB_Prioridad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CAB_Tipo_Producto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Aud_Fecha_Ingreso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Aud_PC_Ingreso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Aud_Fecha_Modifica)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Aud_PC_Modifica)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SEG_EMPRESA.EMP_Representante)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SEG_ESTADO_AI.Gen_PrmSn_Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SEG_USUARIO.USU_Login)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SEG_USUARIO1.USU_Login)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SOL_Id_Solicitud)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ENT_Id_PEntidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ENT_Id_Entidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CAB_FechaPedido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CAB_FechaEmitida)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CAB_Estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CAB_Hora)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CAB_Observacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CAB_Descuento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CAB_Iva)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CAB_Total)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CAB_Ajuste)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CAB_Prioridad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CAB_Tipo_Producto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Aud_Fecha_Ingreso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Aud_PC_Ingreso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Aud_Fecha_Modifica)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Aud_PC_Modifica)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SEG_EMPRESA.EMP_Representante)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SEG_ESTADO_AI.Gen_PrmSn_Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SEG_USUARIO.USU_Login)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SEG_USUARIO1.USU_Login)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CAB_Orden_Cab_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.CAB_Orden_Cab_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CAB_Orden_Cab_Id })
        </td>
    </tr>
}

</table>
